@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%)
}
section{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 15px;
    background-color:  hsl(0, 0%, 100%);
}
img{
    width: 250px;
    border-radius: 10px;

}
p{
    font-size: 15px;
    text-align: center;
}
.p1{
    font-family: "Outfit", serif;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    margin-top: 0px;
}
.p2{
    font-size: 21px;
    font-weight: bold;
    color: hsl(218, 44%, 22%);
}