body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
div{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    
}
img{
    width: 100px;
}
.div1{
    position: sticky;
    top: 5px;
    bottom: 5px;
}