@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    height: 100%;
}

header{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header{
    
    width: 1078px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    
}
nav{
    width: 423px;
    height:56px;
    display: flex;
    align-items: center;
    
    
    
}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}
.parent_one{
    display: flex;
    align-items: center;
    gap: 83px;
    width: 572px;
    
}
li{
    list-style: none;
    font-family: "Roboto", serif;
    color: #1C1B1B;
    font-weight: 700;
}
.parent_icones{
    display: flex;
    justify-content: flex-end;
    width: 492px;
    
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon1{
    width: 21px;
    height: 20px;
}
.icon2{
    width: 40px;
    height: 40px;
}
.icon3{
    width: 36px;
    height: 42px;
}
.fa-bars{
    display: none !important;
    font-size: 24px;
    
    
}
.sec1_parent_div{
    height:554px;
    width: 1300px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 145px;

    box-sizing: border-box;
}
.sec1{
    background-color: #F0EFEB;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}
.sec1_title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Roboto", serif;
    font-weight: 700;
}
.sec1_text{
    width: 50%;
}
.sec1_p{
    font-family: "Roboto", serif;
    font-size: 24px;
    font-weight: 400;
}
.button_1{
    width: 129px;
    height: 36px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    color: white;
    background-color: #000000;
    border-radius: 70px;
}
.sec_2{
    height: auto;
    width: auto;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.sec2_title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    font-family: "Roboto", serif;
    margin-top: 50px;
    margin-bottom: 70px;
}
.sec2_p{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    padding-left: 250px;
    padding-right: 250px;
}
.sec2_pics{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    gap: 0px;
    padding-bottom: 250px;
    

    
}
.sec2_pic_div{
    width: 314.66px;
    height: 584.27px;
    
    
    
}
.sec2_pic_title{
    font-family: "Roboto", serif;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 0px;
}
.sec2_pic_usd{
    font-family: "Roboto", serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px;
}
.sec2_pic_buy{
    font-family: "Roboto", serif;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 10px;
}
.sec_3{
    background-color: #CCCCCC4D;
    padding-left: 180px;
    padding-right: 180px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.sec3_img{
    width: 385px;
    height: 525px;
}
.sec3_title{
    font-size: 36px;
    font-family: "Roboto", serif;
    font-weight: 700;
    

}
.sec3_p{
    font-size: 36px;
    font-weight: 400;
    font-family: "Roboto", serif;
    margin-top: 0px;
}
.sec3_title2{
    font-size: 17px;
    font-family: "Roboto", serif;
    font-weight: 700;
    text-decoration: underline;

}
.sec3_text_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 12%;
}

.sec_4{
    
    padding-left: 180px;
    padding-right: 180px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    gap: 50px;
    align-items: center;
    background-color: #cccccc96;
    
}
.sec4_img{
    width: 385px;
    height: 525px;
}
.sec4_title{
    font-size: 36px;
    font-family: "Roboto", serif;
    font-weight: 700;
    text-align: right;

}
.sec4_p{
    font-size: 36px;
    font-weight: 400;
    font-family: "Roboto", serif;
    text-align: end;
    margin-top: 0px;
}
.sec4_title2{
    font-size: 17px;
    font-family: "Roboto", serif;
    font-weight: 700;
    text-decoration: underline;

}
.sec4_text_div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 15%;
   
}
.sec5_p{
    font-size: 36px;
    font-weight: 400;
    font-family: "Roboto", serif;
    margin-right: -29px;
    margin-top: 0px;
}
#sec_3{
    border-bottom: 5px solid #CCCCCC99;
    box-sizing: border-box;
}
.sec_6{
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-bottom: 550px;
}
.sec6_p{
    display: flex;
    
    font-weight: 400;
    font-family: "Roboto", serif;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 2px 5px 5px rgba(128, 128, 128, 0.419);
    justify-content: center;
    text-align: center;
}
.sec6_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    
    width: 80%;
}
.colors{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 90%;
    justify-items: center;
    align-items: center;
    gap: 20px;
    row-gap: 100px;
}
.col{
    width: 338.66px;
    height: 167.5px;
}
.sec_7{
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-bottom: 5px solid #CCCCCC99;
    box-sizing: border-box;
    padding-bottom: 30px;
    
    
}
.sec7_p{
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 2px 5px 5px rgba(128, 128, 128, 0.419);
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.sec7_p_div{
    margin-left: 20px;
    margin-right: 20px;
}
.sec7_div{
    display: flex;
    gap: 130px;
    flex-direction: column;
    position: absolute;
    top: 4800px;
    width: 100%;

}
.pic_7{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 450px));
    justify-content: center;
    align-content: center;
    
    justify-items: center;
    align-items: center;
}
.sec_8{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 80px;

}
.sec8_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec8_title{
    font-weight: 700;
    font-family: "Roboto", serif;
    font-size: 36px;
    text-shadow: 2px 5px 5px rgba(128, 128, 128, 0.419);
    margin-bottom: 0px;
    
}
.sec8_p{
    text-shadow: 2px 5px 5px rgba(128, 128, 128, 0.419);
    font-weight: 700;
    font-family: "Roboto", serif;
    font-size: 17px;
    margin-top: 10px;
    padding-left: 480px;
    padding-right: 480px;
    text-align: center;
}
form{
    display: grid;
    column-gap: 50px;
    row-gap: 20px;
    margin-top: 10px;


}
.in_1{
    grid-column: 1;
    width: 153px;
    height: 35px;
    border: 1px solid black;
    box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.2);
    padding-left: 10px;
}
.in_2{
    grid-column: 2;
    width: 153px;
    height: 35px;
    border: 1px solid black;
    box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.232);
    padding-left: 10px;
}
.in_3{
    grid-column: 1/3;
    width: 366px;
    height: 35px;
    border: 1px solid black;
    box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.219);
    padding-left: 10px;
}
.last_but{
    width: 115px;
    height: 33px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    font-family: "Roboto", serif;
    border: none;
    margin-top: 20px;
    background-color: #000000;
    box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.419);
    border-radius: 50px;


}
footer{
    background-color: #020202;
    display: flex;
    padding: 40px;
    box-sizing: border-box;
    justify-content: space-around;
    
    

}
.ddiv{
    display: flex;
    
    width: 35%;
    
}
.last_p{
    color: white;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 14px;

}
.last_title{
    color: white;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
    
}
.last_div{
    width: 50%;
}
.last_logo_div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.last_logo{
    width: 129px;
    height: 41px;
}
@media (max-width: 1350px){
    .sec_7{
        height: auto;
        padding-top: 100px;
        
    }
    .sec7_div{
        position:static;
        display: flex;
    }
    .sec_6{
        padding-bottom: 100px;
    }
    .pic_7{
        row-gap: 70px;

    }
    

    .sec8_p{
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 1130px){

    ul{
        display: none;
    }
    .fa-bars{
        display: block !important;
    }
    .nav{
        width: 20%;
    }
    .header{
        width: 100%;
        padding: 20px;
    }
    .parent_one{
        display: flex;
        gap: 0px;
    }
    .sec_3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        
    }
    .sec3_text_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
    }
    .sec3_title{
        text-align: center;
    }
    .sec3_p{
        text-align: center;
    }
    .sec5_p{
        text-align: center;
        margin-right: 0px;
    }
    .sec_4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        
        
    }
    .sec4_text_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
        padding-left: 0px;
        
    }
    .sec4_title{
        text-align: center;
    }
    .sec4_p{
        text-align: center;
    }
    
    
}
@media (max-width: 1020px){
    .sec1_parent_div{
        display: grid;
        grid-template-columns: 100% ;
        height: auto;
        justify-content: center;
        align-content: center;
        padding-left: 0px;
        justify-items: center;
        align-items: center;
        grid-template-rows: auto;
        margin-top: 50px;
    }
    .sec1_title{
        text-align: center;
    }
    .sec1_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec1_p{
        text-align: center;
    }
    .pic_1{
        width: 100%;
    }
    .sec2_p{
        padding-left: 0px;
        padding-right: 0px;
    }
    .sec_2{
        padding: 40px;
    }
    .sec3_img{
        width: 325px;
        height: 465px;
    }
    .sec4_img{
        width: 325px;
        height: 465px;
    }
    .last_logo_div{
        
        width: 30%;
    }
    .ddiv{
        gap: 20px;
    }
    footer{
        justify-content: space-evenly;
    }
    
    
    
    

}
@media (max-width: 450px){
    footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        
    }
    .ddiv{
        
        flex-direction: row;
        width: 100%;
        gap: 0px;
    }
    .last_div{
        
        margin-left: 0px;
        
    }
    .last_logo{
        
    }
    .last_div2{
        margin-right: 0px;
    }
    .last_logo_div{
        
    }
}



@media (max-width: 400px){
    form{
        grid-template-columns: 100%;
        column-gap: 0px;
    }
    .in_1{
        grid-column: 1/3;
        grid-row: 1;
        width: 100%;

    }
    .in_2{
        grid-column: 1/3;
        width: 100%;
        grid-row: 2;
    }
    .in_3{
        grid-column: 1/3;
        grid-row: 3;
        width: 100%;
    }
    
}
