#password{
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    box-shadow: 5px 5px 10px ;
}
#email{
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    box-shadow: 5px 5px 10px ;
}