button{
    background-color: red;
    color: blue;
    transition: 0.5s;
    width: 300px;
    height: 300px;
    border: double 10px maroon;
}
button:hover{
    background-color: aqua;
    color: rgb(255, 3, 179);
    width: 500px;
    height: 300px;
    border: dashed 10px blue;

}
button:active{
    font-size: x-large;
    height: 500px;
    background-color: rgb(231, 248, 0);
    border: dotted 10px orange;
    border
}
