@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(204, 43%, 93%);
    
}
main{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    grid-template-columns: 30% 30%;
    grid-template-rows: 35% 40%;
    width: 100%;
    
}
.first_div{
    grid-column: 1/3;
    background-color: white;
    width: 100%;
    height: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 37px;
    box-sizing: border-box;
    min-height: 200px;
}
.second_div{
    
    grid-column: 1;
    width: 100%;
    height: 100%;
    background-color:  hsl(179, 62%, 43%);
    padding: 37px;
    box-sizing: border-box;
    border-bottom-left-radius: 7px;
    
}
.third_div{
    grid-column: 2;
    width: 100%;
    height: 100%;
    background-color:  hsla(179, 62%, 43%, 0.754);
    padding: 37px;
    box-sizing: border-box;
    border-bottom-right-radius: 7px;
}
p{
    font-family: "Karla", serif;
}
.join{
    font-size: 2.35vw;
    margin-top: 0px;
    color:  hsl(179, 62%, 43%);
    font-weight: 700;
    margin-bottom: 0px;
}
.second_p{
    font-size: 1.8vw;
    margin-top: 20px;
    color: hsl(71, 73%, 54%);
}
.third_p{
    font-size: 1.55vw;
    color:  hsl(218, 22%, 67%);
    font-weight: 400;
    line-height: 180%;
}
.fifth_p{
    display: flex;
    gap: 15px;
    margin-bottom: 0px;
    
   

}
.fourth_p{
    font-size: 1.8vw;
    margin-top: 0px;
    color: white;
    margin-bottom: 15px;
    
}
.dollar{
    font-size: 3.3vw;
    margin-top: 0px;
    color: white;
    margin-bottom: 0px;
}
.dollar2{
    margin-top: 13px;
    font-size: 1.5vw;
    color:  hsla(203, 44%, 93%, 0.774);
    margin-bottom: 0px;
}
.seventh_p{
    margin-top: 15px;
    font-size: 1.5vw;
    color:  hsl(204, 43%, 93%);
}
button{
    height: 25%;
    margin-top: 15px;
    width: 95%;
    border: 0px;
    border-radius: 5px;
    background-color:  hsl(71, 73%, 54%);
    box-shadow: 0px 5px 20px  hsl(179, 69%, 31%);
    color: white;
    font-weight: 400;
    font-size: 1.6vw;
}
.why{
    font-size: 1.8vw;
    margin-top: 0px;
    color: white;
    margin-bottom: 15px;
    font-weight: 700;
}
.last_p{
    font-size: 1.5vw;
    margin-top: 0px;
    margin-bottom: 3px;
    color: hsla(0, 0%, 100%, 0.673);
    font-weight: 200;

}
@media (max-width: 375px){
    body{
        width: 375px;
    }
    main{
        width: 100%;
        grid-template-columns: 80%;
        grid-template-rows: 30% 27% 27%;
    }
    .first_div{
        grid-column: 1;
        grid-row: 1;
        padding: 25px;

    }
    .second_div{
        grid-row: 2;
        border-bottom-left-radius: 0px;
    }
    .third_div{
        grid-row: 3;
        grid-column: 1;
        border-bottom-left-radius: 7px;
    }
    .join{
        font-size: 4.6vw;
        margin-top: 0px;

    }
    .second_p{
        font-size:3.6vw;
    }
    .third_p{
        font-size: 3.5vw;
    }
    .second_div{
        padding: 25px;

    }
    .fourth_p{
        font-size: 4.5vw;
    }
    .dollar{
        font-size: 8vw;
    }
    .dollar2{
        font-size: 3.7vw;
    }
    .seventh_p{
        font-size: 4vw;
    }
    button{
        margin-top: 5px;
    }
    .why{
        font-size: 4.5vw;
    }
    .last_p{
        font-size: 3.7vw;
    }
    .third_div{
        padding: 25px;
    }
}