@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
body{
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: -400px -500px,  650px 400px;
    background-color:  hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
section{
    background-color: white;
    width: 350px;
    height: 400px;
    border-radius: 10px;
}
.div1{
    height: 140px;
    width: 100%;
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    position: absolute;
    top: 36%;
}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.name{
    display: flex;
    gap: 10px;
}
.name_london{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.namep{
    margin-bottom: 0px;
    font-size: 18px;
    margin-top: 14px;
    font-size:  hsl(229, 23%, 23%);
    font-weight: 700;
}
.london{
    margin-top: 10px;
    color:  hsl(227, 10%, 46%);
    
}
p{
    font-family: "Kumbh Sans", serif;
}
.num{
    color:  hsl(227, 10%, 46%);
    margin-bottom: 0px;
}
.parent{
    display: flex;
    gap: 50px;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid  hsla(227, 10%, 46%, 0.306);
    width: 94%;

}
.child{
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}
.num_p{
    margin-bottom: 0px;
    font-weight: 700;
    color:  hsl(229, 23%, 23%);;
}
.p2{
    margin-top: 5px;
    font-size: 10px;
    letter-spacing: 1px;
    color:  hsl(227, 10%, 46%);
}
@media (max-width: 430px) and (min-width:400px){
    body{
        background-position: -700px -600px, 150px 300px;
        
    }
    section{
        width: 350px;
        height: 400px;
        border-radius: 18px;
    }
    .div1{
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
    img{
        top: 310px;
        border: 5px solid white;
        border-radius: 50%;
    }
    .namep{
        margin-top: 0px;
    }
    .num{
        margin-top: 2px;
    }
    .parent{
        margin-top: 10px;
    }
}
@media (max-width: 400px){
    body{
        background-position: -700px -600px, 150px 300px;
        
    }
    section{
        width: 320px;
        height: 370px;
        border-radius: 18px;
    }
    .div1{
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
    img{
        top: 280px;
        border: 5px solid white;
        border-radius: 50%;
    }
    .namep{
        margin-top: 0px;
    }
    .num{
        margin-top: 2px;
    }
    .parent{
        margin-top: 10px;
    }


}
@media (max-width: 375px){
    img{
        top:225px;
    }
}



    
    
