body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    animation-name: bobo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes bobo{
    from{

    }
    40%{
        transform: scale(2);
    }
    60%{
        transform: scale(0.5);
    }
    to{
        
    }
}