.name{
    background-color: black;
    color: brown;
    font-size: 70px;
}
#tornike{
    background-color: chartreuse;
    color: darkorchid;
    font-size: 40px;
}
#khozrevanidze{
    background-color: lightpink;
    color: cyan;
    font-size: 40px;
}